** Thresholds Information: **

* Instead of thresholds for False Negatives and False Positives separately I have taken a threshold for accuracy score based on cross validation

* Since we are balancing the positive samples and negative samples any false positives and false negatives information will be conveyed in accuracy.

* The threshold taken for cross validation accuracy score is 90%.

* We will be adding negative samples until we reach as low as 90% and then evaluate positive and negative instances.

## Algorithm Test Results

In [10]:
import pandas as pd
results=pd.read_csv("/Users/adithyabandi/Desktop/Per_Token_Results.txt",sep=" ")
results["negatives_to_positives"]=results["No_of_Negative_instances"]/results["No_of_Positive_instances"]
results

,token,test_accuracy,test_precision,test_recall,test_f1_score,No_of_Positive_instances,No_of_Negative_instances,negatives_to_positives
0,yellow,94.444444,90.000000,100.000000,94.736842,11,8,0.727273
1,red,87.966805,86.991870,89.166667,88.065844,14,43,3.071429
2,purple,97.560976,95.238095,100.000000,97.560976,6,17,2.833333
3,orange,100.000000,100.000000,100.000000,100.000000,6,1,0.166667
4,green,100.000000,100.000000,100.000000,100.000000,13,39,3.000000

## Yellow Token
** Positive Instances: **

** ['banana/banana_2', 'banana/banana_3', 'corn/corn_1', 'cube/cube_1', 'cuboid/cuboid_1', 'cylinder/cylinder_1', 'lemon/lemon_1', 'lemon/lemon_2', 'lemon/lemon_3', 'orange/orange_2', 'triangle/triangle_2'] **

** Negative Instances: **

** ['arch/arch_2', 'semicylinder/semicylinder_1', 'semicylinder/semicylinder_2', 'arch/arch_4', 'cube/cube_4', 'cylinder/cylinder_2', 'cube/cube_3', 'cube/cube_2'] **

## Red Token
** Positive Instances: **

** ['arch/arch_4', 'cabbage/cabbage_1', 'cabbage/cabbage_2', 'cabbage/cabbage_3', 'cuboid/cuboid_3', 'plum/plum_1', 'plum/plum_3', 'plum/plum_4', 'potato/potato_1', 'potato/potato_2', 'semicylinder/semicylinder_2', 'tomato/tomato_2', 'tomato/tomato_3', 'tomato/tomato_4'] **

** Negative Instances: **

** ['lemon/lemon_4', 'lemon/lemon_2', 'orange/orange_4', 'orange/orange_2', 'lemon/lemon_3', 'banana/banana_2', 'banana/banana_3', 'lime/lime_2', 'lemon/lemon_1', 'lime/lime_3', 'banana/banana_4', 'lime/lime_4', 'orange/orange_1', 'lime/lime_1', 'orange/orange_3', 'cylinder/cylinder_1', 'banana/banana_1', 'cube/cube_1', 'eggplant/eggplant_1', 'cucumber/cucumber_1', 'potato/potato_3', 'cucumber/cucumber_4', 'cucumber/cucumber_2', 'cube/cube_2', 'potato/potato_4', 'cucumber/cucumber_3', 'cuboid/cuboid_1', 'eggplant/eggplant_3', 'corn/corn_1', 'cuboid/cuboid_2', 'cylinder/cylinder_4', 'triangle/triangle_2', 'arch/arch_1', 'semicylinder/semicylinder_3', 'triangle/triangle_3', 'arch/arch_3', 'cuboid/cuboid_4', 'arch/arch_2', 'carrot/carrot_1', 'cube/cube_3', 'semicylinder/semicylinder_4', 'corn/corn_4', 'corn/corn_2']  **

## Purple Token
** Positive Instances: **

** ['cabbage/cabbage_1', 'cabbage/cabbage_2', 'cabbage/cabbage_3', 'eggplant/eggplant_1', 'eggplant/eggplant_3', 'eggplant/eggplant_4']  **

** Negative Instances: **

** ['cuboid/cuboid_1', 'cube/cube_1', 'cuboid/cuboid_2', 'arch/arch_1', 'cylinder/cylinder_1', 'triangle/triangle_2', 'potato/potato_4', 'semicylinder/semicylinder_3', 'cube/cube_2', 'banana/banana_1', 'triangle/triangle_3', 'arch/arch_3', 'potato/potato_3', 'lemon/lemon_4', 'orange/orange_2', 'cucumber/cucumber_2', 'cuboid/cuboid_4'] **

## Orange Token
** Positive Instances: **

** ['carrot/carrot_1', 'carrot/carrot_2', 'carrot/carrot_4', 'orange/orange_2', 'orange/orange_3', 'orange/orange_4']  **

** Negative Instances: **

** ['semicylinder/semicylinder_2'] **

## Green Token
** Positive Instances: **

** ['arch/arch_3', 'banana/banana_4', 'cube/cube_2', 'cuboid/cuboid_2', 'cucumber/cucumber_1', 'cucumber/cucumber_2', 'cucumber/cucumber_4', 'cylinder/cylinder_4', 'lime/lime_1', 'lime/lime_3', 'lime/lime_4', 'semicylinder/semicylinder_4', 'triangle/triangle_3']  **

** Negative Instances: **

** ['orange/orange_2', 'tomato/tomato_1', 'orange/orange_4', 'plum/plum_4', 'tomato/tomato_4', 'tomato/tomato_2', 'potato/potato_2', 'tomato/tomato_3', 'plum/plum_3', 'plum/plum_2', 'potato/potato_1', 'lemon/lemon_4', 'orange/orange_1', 'lemon/lemon_2', 'plum/plum_1', 'banana/banana_2', 'banana/banana_3', 'cabbage/cabbage_4', 'orange/orange_3', 'lemon/lemon_1', 'lemon/lemon_3', 'cabbage/cabbage_2', 'cabbage/cabbage_3', 'cabbage/cabbage_1', 'potato/potato_3', 'potato/potato_4', 'cylinder/cylinder_2', 'cuboid/cuboid_3', 'triangle/triangle_1', 'banana/banana_1', 'cube/cube_4', 'cylinder/cylinder_1', 'corn/corn_1', 'cube/cube_1', 'lime/lime_2', 'eggplant/eggplant_1', 'triangle/triangle_2', 'eggplant/eggplant_2', 'corn/corn_3'] **

In [2]:
import pandas as pd
stats=None
tokens=["yellow","red", "purple","orange", "green"]
for token in tokens:
    temp_df=pd.read_csv("/Users/adithyabandi/Desktop/"+token+"_token.txt",sep=" ")
    temp_df["token"]=token
    if stats is not None:
        stats=stats.append(temp_df)
    else:
        stats=temp_df

In [5]:
stats[["cutoff_degrees"]].describe()

       cutoff_degrees
count       50.000000
mean        93.570472
std          7.905106
min         76.231471
25%         88.997264
50%         95.768052
75%         99.511766
max        104.536695

** The above stats show that the cutoff degrees is vastly different across different instances **

** The minimum value is 76 and the maximum is 104 with std of 7.9**

In [11]:
stats=stats[['token','positive_instance', 'cutoff_instance', 'cutoff_degrees']]

In [12]:
stats

,token,positive_instance,cutoff_instance,cutoff_degrees
0,yellow,banana/banana_2,lime/lime_3,95.106080
1,yellow,banana/banana_3,semicylinder/semicylinder_4,89.484331
2,yellow,corn/corn_1,cylinder/cylinder_3,97.932131
3,yellow,cube/cube_1,cabbage/cabbage_2,102.239583
4,yellow,cuboid/cuboid_1,cabbage/cabbage_3,103.591623
5,yellow,cylinder/cylinder_1,cabbage/cabbage_2,95.048559
6,yellow,lemon/lemon_1,cylinder/cylinder_3,101.536959
7,yellow,lemon/lemon_2,cylinder/cylinder_3,99.381070
8,yellow,lemon/lemon_3,cylinder/cylinder_3,96.488282
9,yellow,orange/orange_2,arch/arch_3,104.536695
10,yellow,triangle/triangle_2,carrot/carrot_3,100.719440
0,red,arch/arch_4,tomato/tomato_1,77.349695
1,red,cabbage/cabbage_1,triangle/triangle_4,78.521512
2,red,cabbage/cabbage_2,triangle/triangle_4,79.979530
3,red,cabbage/cabbage_3,triangle/triangle_4,80.735055
4,red,cuboid/cuboid_3,corn/corn_3,99.206896
5,red,plum/plum_1,triangle/triangle_4,82.414820
6,red,plum/plum_3,carrot/carrot_3,78.930475
7,red,plum/plum_4,carrot/carrot_3,87.191382
8,red,potato/potato_1,cylinder/cylinder_3,89.770816
9,red,potato/potato_2,cylinder/cylinder_3,96.084784
10,red,semicylinder/semicylinder_2,carrot/carrot_3,102.298218
11,red,tomato/tomato_2,semicylinder/semicylinder_1,83.915216
12,red,tomato/tomato_3,semicylinder/semicylinder_1,89.427033
13,red,tomato/tomato_4,semicylinder/semicylinder_1,96.430620
0,purple,cabbage/cabbage_1,potato/potato_2,82.299201
1,purple,cabbage/cabbage_2,lemon/lemon_1,85.353952
2,purple,cabbage/cabbage_3,corn/corn_1,85.641318
3,purple,eggplant/eggplant_1,cuboid/cuboid_3,101.244724
4,purple,eggplant/eggplant_3,cuboid/cuboid_3,96.315316
5,purple,eggplant/eggplant_4,cuboid/cuboid_3,94.186316
0,orange,carrot/carrot_1,semicylinder/semicylinder_4,97.816449
1,orange,carrot/carrot_2,semicylinder/semicylinder_3,100.602836
2,orange,carrot/carrot_4,semicylinder/semicylinder_3,97.527382
3,orange,orange/orange_2,arch/arch_3,104.536695
4,orange,orange/orange_3,arch/arch_2,88.854008
5,orange,orange/orange_4,arch/arch_2,100.544550
0,green,arch/arch_3,carrot/carrot_3,76.231471
1,green,banana/banana_4,semicylinder/semicylinder_2,99.787819
2,green,cube/cube_2,corn/corn_2,98.568980
3,green,cuboid/cuboid_2,semicylinder/semicylinder_2,95.451320
4,green,cucumber/cucumber_1,semicylinder/semicylinder_3,99.555331
5,green,cucumber/cucumber_2,semicylinder/semicylinder_3,98.858804
6,green,cucumber/cucumber_4,semicylinder/semicylinder_3,97.527382
7,green,cylinder/cylinder_4,corn/corn_4,94.013987
8,green,lime/lime_1,arch/arch_1,92.693894
9,green,lime/lime_3,arch/arch_1,95.393766
10,green,lime/lime_4,arch/arch_4,91.948432
11,green,semicylinder/semicylinder_4,carrot/carrot_3,100.602836
12,green,triangle/triangle_3,carrot/carrot_3,94.646048